<div class="animated slideInRight detail">
  <h2 md-header>Details</h2>

  <div *ngIf="character">
    <div class="character-icon" [ngClass]="icon"><i></i></div>
    <p>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="character.name" [disabled]="!ready">
      </mat-form-field>
    </p>
    <p>
      <mat-select placeholder="Allegiance" [(ngModel)]="character.allegiance" [disabled]="!ready">
        <mat-option *ngFor="let allegiance of allegiances" [value]="allegiance">
          {{ allegiance }}
        </mat-option>
      </mat-select>
    </p>
    <p>
      <mat-select placeholder="Home World" [(ngModel)]="character.homeWorldId" [disabled]="!ready" (change)="syncHomeWorld()">
        <mat-option *ngFor="let planet of planets" [value]="planet.id">
          {{ planet.name }}
        </mat-option>
      </mat-select>
    </p>
    <p>
      <mat-checkbox [(ngModel)]="revealModel">Reveal Model</mat-checkbox>
    </p>

    <div *ngIf="revealModel">
      <a mat-raised-button (click)="getData()">Refresh Lists</a>
      <a mat-raised-button (click)="this.planets = this.allegiances = null">Clear Lists</a>
      <pre>{{character | json}} {{homeWorld | json}}</pre>
    </div>
  </div>
</div>
