<mat-toolbar color="white" class="dark home-navbar">
  <div class="mat-toolbar-tools" fxLayout="row nowrap" fxFlex fxLayoutAlign="end center">
    <span fxFlex="grow"></span>
    <a fxFlex mat-button [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"><span>Home</span></a>
    <a fxFlex mat-button [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"><span>Projects</span></a>
    <a fxFlex
       mat-button
       target="_blank"
       href="https://xandernetstorage.blob.core.windows.net/public/documents/ahathawayResume.pdf"
       class="router-link-active">
        <span>Resume</span>
    </a>
    <a fxFlex mat-button [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"><span>Contact</span></a>
  </div>
</mat-toolbar>
